<div id="empleados" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }">
                    people
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }">
                    Empleados
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar empleado" (keyup)="doFilter($event.target.value)" />
                </div>
            </div>
            <!-- / SEARCH -->

            <!--  BUTTONS -->

            <button mat-raised-button (click)="crear()" class="button_add mt-24 mt-md-0">
                <mat-icon class="mr-8">add_circle_outline</mat-icon>
                <span>Agregar Empleado</span>
            </button>

            <button mat-raised-button (click)="cargar()" class="button_add mt-24 mt-md-0">
                <mat-icon class="mr-8">cloud_upload</mat-icon>
                <span>Cargar Empleados</span>
            </button>

            <!-- / BUTTONS -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table class="table" #table [dataSource]="dataSource" fusePerfectScrollbar matSort [@animateStagger]="{ value: '50' }">
                <!--<ng-container matColumnDef="idUsuario">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let empleado">
                <p class="text-truncate">
                    {{ empleado.idUsuario }}
                </p>
            </mat-cell>
          </ng-container>-->

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let empleado">
                        <p class="text-truncate">
                            {{ empleado.nombre + " " + empleado.apellidoPaterno + " " + empleado.apellidoMaterno }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="telefono">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
                    <mat-cell *matCellDef="let empleado">
                        <p class="text-truncate">{{ empleado.telefono }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="correo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
                    <mat-cell *matCellDef="let empleado">
                        <p class="text-truncate">{{ empleado.correo }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="entidadBancaria">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Banco</mat-header-cell>
                    <mat-cell *matCellDef="let empleado">
                        <p class="text-truncate">
                            {{ empleado.entidadBancaria.nombre }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="lugarCobro">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Agencia</mat-header-cell>
                    <mat-cell *matCellDef="let empleado">
                        <p class="text-truncate">
                            {{ empleado.lugarCobro.nombre }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let empleado">
                        <p class="text-capitalize text-truncate">{{ empleado.estado }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
                    <mat-cell *matCellDef="let empleado">
                        <button mat-stroked-button color="accent" (click)="editar(empleado.idUsuario)" title="Editar Usuario">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
                    <mat-cell *matCellDef="let empleado">
                        <button mat-stroked-button color="warn" (click)="eliminar(empleado)" title="Eliminar Empleado">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnNames; sticky: true"></mat-header-row>

                <mat-header-row *matRowDef="let empleado; columns: columnNames">
                </mat-header-row>
            </mat-table>
            <div *ngIf="visible === false" style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(0, 0, 0) transparent;
                    position: fixed;
                    margin-top: 41px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                ">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>

            <div *ngIf="dataSource.data.length === 0" class="no-records">
                No hay empleados registrados, ...
            </div>

            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>