<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{ dialogTitle }}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="form">

            <div *ngIf="data.action !== 'editar'" fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Departamento</mat-label>
                    <mat-select formControlName="departamento" required (selectionChange)="depOnChange()">
                        <mat-option *ngFor="let dep of departamentos" [value]="dep">
                        {{dep}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>   
            </div>

            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Departamento</mat-label>
                    <mat-icon matSuffix class="secondary-text">map</mat-icon>
                    <input name="departamento" formControlName="departamento" matInput required readonly/>
                </mat-form-field>
            </div>
            
            <div *ngIf="data.action !== 'editar'" fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Provincia</mat-label>
                    <mat-select formControlName="provincia" required (selectionChange)="provOnChange()" >
                        <mat-option *ngFor="let provincia of provincias" [value]="provincia">
                        {{provincia}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>   
            </div>

            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Provincia</mat-label>
                    <mat-icon matSuffix class="secondary-text">place</mat-icon>
                    <input name="provincia" formControlName="provincia" matInput required readonly/>
                </mat-form-field>
            </div>

            <div *ngIf="data.action !== 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Distrito</mat-label>
                    <mat-select formControlName="nombre" required (selectionChange)="distOnChange()"> 
                        <mat-option *ngFor="let distrito of distritos" [value]="distrito.nombre">
                        {{distrito.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>   
            </div>
            
            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Distrito</mat-label>
                    <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                    <input name="nombre" formControlName="nombre" matInput required readonly/>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>%Contagiados</mat-label>
                    <mat-icon matSuffix class="secondary-text">bubble_chart</mat-icon>
                    <input name="porcContagiados" formControlName="porcContagiados" matInput step=".01" required />
                    <mat-error *ngIf="porcContagiados.invalid">{{porcContagiadosNoValidoMsj()}}</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Ubigeo</mat-label>
                    <mat-icon matSuffix class="secondary-text">groups</mat-icon>
                    <input name="ubigeo" formControlName="ubigeo" matInput required readonly />
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            Cancelar
        </button>

        <button *ngIf="data.action !== 'editar'" mat-stroked-button color="accent" [disabled]="form.invalid" (click)="crearDistrito()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Agregar
        </button>

        <button *ngIf="data.action === 'editar'" mat-stroked-button color="accent" [disabled]="form.invalid" (click)="editarDistrito()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Aceptar
        </button>
    </div>
</div>