<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{ dialogTitle }}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="form">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Nombre</mat-label>
                    <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                    <input *ngIf="data.action === 'ver'" name="nombre" formControlName="nombre" matInput required readonly />
                    <input *ngIf="data.action === 'nuevo'" name="nombre" formControlName="nombre" matInput required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Fecha de inicio</mat-label>
                    <input *ngIf="data.action === 'ver'" name="fechaInicio" formControlName="fechaInicio" matInput required readonly type="date" />
                    <input *ngIf="data.action === 'nuevo'" name="fechaInicio" formControlName="fechaInicio" matInput required type="date" />
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-select [disabled]="data.action === 'ver'" placeholder="Hora preferencial" formControlName="horarioPreferencial" multiple>
                        <mat-option *ngFor="let hora of horas" [value]="hora">
                            <p *ngIf="hora >= 12">{{ hora }} p.m.</p>
                            <p *ngIf="12 > hora">{{ hora }} a.m.</p>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Porcentaje de varones %</mat-label>
                    <mat-icon matSuffix class="secondary-text">people</mat-icon>
                    <input *ngIf="data.action === 'ver'" name="porcentajeVarones" formControlName="porcentajeVarones" matInput required readonly />
                    <input *ngIf="data.action === 'nuevo'" name="porcentajeVarones" formControlName="porcentajeVarones" matInput required />
                    <mat-error *ngIf="porcentajeVarones">Número menor a 100% con 2 decimales</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Número de horarios por beneficiario</mat-label>
                    <mat-icon matSuffix class="secondary-text">today</mat-icon>
                    <input *ngIf="data.action === 'ver'" name="horariosPorBeneficiario" formControlName="horariosPorBeneficiario" matInput required type="number" readonly />
                    <input *ngIf="data.action === 'nuevo'" name="horariosPorBeneficiario" formControlName="horariosPorBeneficiario" matInput required type="number" />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Máximo de incidencias por beneficiario</mat-label>
                    <mat-icon matSuffix class="secondary-text">report_problem</mat-icon>
                    <input *ngIf="data.action === 'ver'" name="numMaxIncBeneficiario" formControlName="numMaxIncBeneficiario" matInput required type="number" readonly />
                    <input *ngIf="data.action === 'nuevo'" name="numMaxIncBeneficiario" formControlName="numMaxIncBeneficiario" matInput required type="number" />
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Horarios penalizados por incidencias</mat-label>
                    <mat-icon matSuffix class="secondary-text">sync_problem</mat-icon>
                    <input *ngIf="data.action === 'ver'" name="cantHorariosPenalizados" formControlName="cantHorariosPenalizados" matInput required type="number" readonly />
                    <input *ngIf="data.action === 'nuevo'" name="cantHorariosPenalizados" formControlName="cantHorariosPenalizados" matInput required type="number" />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Máximo de incidencias por agencia</mat-label>
                    <mat-icon matSuffix class="secondary-text">report_problem</mat-icon>
                    <input *ngIf="data.action === 'ver'" name="numMaxIncLugarCobro" formControlName="numMaxIncLugarCobro" matInput required type="number" readonly />
                    <input *ngIf="data.action === 'nuevo'" name="numMaxIncLugarCobro" formControlName="numMaxIncLugarCobro" matInput required type="number" />
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Porcentaje de reducción por incidencias %</mat-label>
                    <mat-icon matSuffix class="secondary-text">sync_problem</mat-icon>
                    <input *ngIf="data.action === 'ver'" name="reducPorcVacantes" formControlName="reducPorcVacantes" matInput required readonly />
                    <input *ngIf="data.action === 'nuevo'" name="reducPorcVacantes" formControlName="reducPorcVacantes" matInput required />
                    <mat-error *ngIf="reducPorcVacantes">Número menor a 100% con 2 decimales</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Porcentaje máximo de contagio %</mat-label>
                    <mat-icon matSuffix class="secondary-text">report_problem</mat-icon>
                    <input *ngIf="data.action === 'ver'" name="porcMaxContagio" formControlName="porcMaxContagio" matInput required readonly />
                    <input *ngIf="data.action === 'nuevo'" name="porcMaxContagio" formControlName="porcMaxContagio" matInput required />
                    <mat-error *ngIf="porcMaxContagio">Número menor a 100% con 2 decimales</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Porcentaje de vacantes penalizadas %</mat-label>
                    <mat-icon matSuffix class="secondary-text">sync_problem</mat-icon>
                    <input *ngIf="data.action === 'ver'" name="porcVacantesPenalizado" formControlName="porcVacantesPenalizado" matInput required readonly />
                    <input *ngIf="data.action === 'nuevo'" name="porcVacantesPenalizado" formControlName="porcVacantesPenalizado" matInput required />
                    <mat-error *ngIf="porcVacantesPenalizado">Número menor a 100% con 2 decimales</mat-error>
                </mat-form-field>
            </div>
            <mat-progress-bar *ngIf="visible === false" mode="indeterminate"></mat-progress-bar>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            Cancelar
        </button>

        <button *ngIf="data.action !== 'ver'" mat-stroked-button color="primary" (click)="configuracionActual()">
            <mat-icon class="mr-8">save</mat-icon>
            Configuración actual
        </button>

        <button *ngIf="data.action !== 'ver'" mat-stroked-button color="accent" [disabled]="form.invalid" (click)="crearCronograma()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Generar
        </button>
    </div>
</div>