<div id="beneficiarios" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }">
                    groups
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }">
                    Beneficiarios
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar beneficiario" (keyup)="doFilter($event.target.value)" />
                </div>
            </div>
            <!-- / SEARCH -->

            <!--  BUTTONS -->

            <button mat-raised-button (click)="crear()" class="button_add mt-24 mt-md-0">
                <mat-icon class="mr-8">cloud_upload</mat-icon>
                <span>Cargar beneficiarios</span>
            </button>

            <!-- / BUTTONS -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table class="table" #table [dataSource]="dataSource" fusePerfectScrollbar matSort [@animateStagger]="{ value: '50' }">
                <ng-container matColumnDef="flagMayorEdad">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mayor de Edad</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiario">
                        <p *ngIf="beneficiario.flagMayorEdad === 1" class="text-truncate">
                            Si
                        </p>
                        <p *ngIf="beneficiario.flagMayorEdad === 0" class="text-truncate">
                            No
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="flagDiscapacitado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Discapacitado</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiario">
                        <p *ngIf="beneficiario.flagDiscapacitado === 1" class="text-truncate">
                            Si
                        </p>
                        <p *ngIf="beneficiario.flagDiscapacitado === 0" class="text-truncate">
                            No
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="genero">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sexo</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiario">
                        <p class="text-truncate">{{ beneficiario.genero }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="codigoHogar">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código de Hogar</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiario">
                        <p class="text-truncate">
                            {{ beneficiario.codigoHogar }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="departamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiario">
                        <p class="text-truncate">
                            {{ beneficiario.distrito.departamento }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="provincia">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiario">
                        <p class="text-truncate">
                            {{ beneficiario.distrito.provincia }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="distrito">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Distrito</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiario">
                        <p class="text-truncate">
                            {{ beneficiario.distrito.nombre }}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnNames; sticky: true"></mat-header-row>

                <mat-header-row *matRowDef="let beneficiario; columns: columnNames">
                </mat-header-row>
            </mat-table>
            <div *ngIf="visible === false" style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(0, 0, 0) transparent;
                    position: fixed;
                    margin-top: 41px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                ">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div *ngIf="dataSource.data.length === 0 && visible === true" class="no-records">
                No hay beneficiarios registrados, ...
            </div>

            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" [pageIndex]="pageIndex" [length]="length" (page)="pageEvent = listar($event)"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>