<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">Seleccione un banco y una agencia</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                <mat-label>Banco</mat-label>
                <mat-select name="banco" matNativeControl [formControl]="banco" required (selectionChange)="onChangeBanco($event.value)">
                    <mat-option *ngFor="let banco of bancos" [value]="banco.idEntidadBancaria">
                        {{ banco.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                <mat-label>Agencia</mat-label>
                <mat-icon matSuffix class="secondary-text">account_balance</mat-icon>
                <input name="agencia" [formControl]="agencia" matInput required [matAutocomplete]="autocompleteTemplateRefId" onkeyup="javascript:this.value=this.value.toUpperCase();" />
            </mat-form-field>

            <mat-autocomplete #autocompleteTemplateRefId="matAutocomplete" [displayWith]="onSelectConvertValueToInputFn">
                <mat-option *ngFor="let agencia of filteredOptions | async" [value]="agencia">
                    {{ agencia.nombre }}
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            Cancelar
        </button>

        <button mat-stroked-button color="accent" [disabled]="agencia.invalid" (click)="buscarAgencia()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Buscar
        </button>
    </div>
</div>