<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">Cargar Distritos</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="form">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="85%">
                    <ngx-mat-file-input #removableInput formControlName="basicfile" placeholder="Adjunte un archivo excel" [accept]="'.csv'" required></ngx-mat-file-input>
                    <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <mat-icon matPrefix>folder</mat-icon>
                </mat-form-field>
                <div floatLabel="always" appearance="outline" fxFlex="10%">
                    <button mat-mini-fab style="background-color: #4caf50; color: white" (click)="descargarPlantilla()" class="button_add mt-24 mt-md-0" title="Descargar archivo plantilla">
                        <mat-icon>get_app</mat-icon>
                    </button>
                </div>
            </div>
            <mat-progress-bar *ngIf="visible === false" mode="indeterminate"></mat-progress-bar>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            Cancelar
        </button>

        <button mat-stroked-button color="accent" [disabled]="form.invalid" (click)="crearDistrito()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Cargar
        </button>
    </div>
</div>