<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{ dialogTitle }}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="form">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Beneficiario</mat-label>
                    <mat-icon matSuffix class="secondary-text">people</mat-icon>
                    <input type="number" name="codigoHogar" formControlName="codigoHogar" matInput required [readonly]="esBeneficiario" />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Motivos</mat-label>
                    <mat-select #selectedMotivo formControlName="idMotivoIncidencia" required>
                        <mat-option *ngFor="let motivo of motivos" [value]="motivo.idMotivoIncidencia">
                            {{ motivo.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Fecha registrada</mat-label>
                    <input name="fecha" formControlName="fecha" matInput required readonly type="date" />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Descripción</mat-label>
                    <textarea name="descripcion" formControlName="descripcion" matInput required></textarea>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            Cancelar
        </button>

        <button *ngIf="data.action !== 'editar'" mat-stroked-button color="accent" [disabled]="form.invalid" (click)="crearIncidencia()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Agregar
        </button>

        <button *ngIf="data.action === 'editar'" mat-stroked-button color="accent" [disabled]="form.invalid" (click)="editarIncidencia()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Aceptar
        </button>
    </div>
</div>