<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
          <span class="h3">{{ dialogTitle }}</span>
          <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
      <form [formGroup]="form">
          <!--
          <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                  <mat-label>ID</mat-label>
                  <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                  <input name="idUsuario" formControlName="idUsuario" matInput required readonly />
              </mat-form-field>
          </div>
          -->

          <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                  <mat-label>Nombre</mat-label>
                  <mat-icon matSuffix class="secondary-text">person</mat-icon>
                  <input name="nombre" formControlName="nombre" matInput required />
              </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                  <mat-label>Apellido Paterno</mat-label>
                  <mat-icon matSuffix class="secondary-text">person</mat-icon>
                  <input name="apellidoPaterno" formControlName="apellidoPaterno" matInput required />
              </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                <mat-label>Apellido Materno</mat-label>
                <mat-icon matSuffix class="secondary-text">person</mat-icon>
                <input name="apellidoMaterno" formControlName="apellidoMaterno" matInput required />
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                <mat-label>Teléfono</mat-label>
                <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                <input name="telefono" formControlName="telefono" matInput required />
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                <mat-label>Correo</mat-label>
                <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                <input name="correo" formControlName="correo" matInput required />
            </mat-form-field>
          </div>

          <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Estado</mat-label>
                <mat-select name="estado" matNativeControl formControlName="estado" required>
                    <mat-option *ngFor="let estado of estados" [value]="estado.value">
                        {{ estado.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field floatLabel="always" appearance="outline" fxFlex>
            <mat-label>Banco</mat-label>
            <mat-select name="banco" matNativeControl formControlName="banco" required 
                (selectionChange)="onChangeBanco($event.value)" [compareWith]="compareWith">
                <mat-option *ngFor="let banco of bancos" [value]="banco">
                    {{ banco.nombre }}
                </mat-option>
            </mat-select>
          </mat-form-field>        
        </div>

        <!--<div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Agencia</mat-label>
            <mat-select name="agencia" matNativeControl formControlName="agencia" required>
                <mat-option *ngFor="let agencia of agencias" [value]="agencia.idLugarCobro">
                    {{ agencia.nombre }}
                </mat-option>
            </mat-select>
          </mat-form-field>        
        </div>-->

        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field floatLabel="always" appearance="outline" fxFlex>
            <mat-label>Agencia</mat-label>
              <mat-icon matSuffix class="secondary-text">account_balance</mat-icon>
              <input name="agencia" formControlName="agencia" matInput required 
              [matAutocomplete]="autocompleteTemplateRefId"/>
            </mat-form-field> 

          <mat-autocomplete #autocompleteTemplateRefId="matAutocomplete"
                            [displayWith]="onSelectConvertValueToInputFn">
              <mat-option *ngFor="let agencia of filteredOptions | async" [value]="agencia">
                {{ agencia.nombre }}
              </mat-option>
          </mat-autocomplete>
        </div>

      </form>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
          <mat-icon class="mr-8">exit_to_app</mat-icon>
          Cancelar
      </button>

      <button *ngIf="data.action !== 'editar'" mat-stroked-button color="accent" [disabled]="form.invalid" (click)="crearEmpleado()">
          <mat-icon class="mr-8">check_circle</mat-icon>
          Agregar
      </button>

      <button *ngIf="data.action === 'editar'" mat-stroked-button color="accent" [disabled]="form.invalid" (click)="editarEmpleado()">
          <mat-icon class="mr-8">check_circle</mat-icon>
          Aceptar
      </button>
  </div>
</div>