<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{ dialogTitle }}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="form">
            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Código</mat-label>
                    <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                    <input name="codigo" formControlName="codigo" matInput required readonly />
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="48%">
                    <mat-label>Estado</mat-label>
                    <mat-select name="estado" matNativeControl formControlName="estado" required>
                        <mat-option *ngFor="let estado of estados" [value]="estado.value">
                            {{ estado.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="data.action !== 'editar'" fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Código</mat-label>
                    <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                    <input name="codigo" formControlName="codigo" matInput required />
                    <mat-error *ngIf="codigo.invalid">{{ codigoNoValidoMsj() }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="48%">
                    <mat-label>Estado</mat-label>
                    <mat-select name="estado" matNativeControl formControlName="estado" required>
                        <mat-option *ngFor="let estado of estados" [value]="estado.value">
                            {{ estado.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Nombre</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_balance</mat-icon>
                    <input name="nombre" formControlName="nombre" matInput required />
                </mat-form-field>
            </div>

            <div *ngIf="data.action !== 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Departamento</mat-label>
                    <mat-select formControlName="departamento" (selectionChange)="depOnChange()" required>
                        <mat-option *ngFor="let dep of departamentos" [value]="dep">
                            {{ dep }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Departamento</mat-label>
                    <mat-icon matSuffix class="secondary-text">map</mat-icon>
                    <input name="departamento" value="{{ this.selectedDep }}" matInput required readonly />
                </mat-form-field>
            </div>

            <div *ngIf="data.action !== 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Provincia</mat-label>
                    <mat-select formControlName="provincia" (selectionChange)="provOnChange()" required>
                        <mat-option *ngFor="let provincia of provincias" [value]="provincia">
                            {{ provincia }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Provincia</mat-label>
                    <mat-icon matSuffix class="secondary-text">place</mat-icon>
                    <input name="provincia" value="{{ this.selectedProv }}" matInput required readonly />
                </mat-form-field>
            </div>

            <div *ngIf="data.action !== 'editar'" fxLayout="row" fxLayoutAlign="start start" formGroupName="distrito">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Distrito</mat-label>
                    <mat-select formControlName="idDistrito" (selectionChange)="distOnChange()" required>
                        <mat-option *ngFor="let distrito of distritos" [value]="distrito.idDistrito">
                            {{ distrito.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Distrito</mat-label>
                    <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                    <input name="distrito" value="{{ this.selectedDist }}" matInput required readonly />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Dirección</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="direccion" formControlName="direccion" matInput required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="tipo" required>
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                            {{ tipo.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- 
            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Tipo</mat-label>
                    <mat-icon matSuffix class="secondary-text">map</mat-icon>
                    <input name="departamento" value="{{ this.selectedDep }}" matInput required readonly />
                </mat-form-field>
            </div> -->

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Hora Apertura L-V</mat-label>
                    <input name="horaAperturaLV" formControlName="horaAperturaLV" type="time" matInput required />
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Hora Cierre L-V</mat-label>
                    <input name="horaCierreLV" formControlName="horaCierreLV" type="time" matInput required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Hora Apertura Sábado</mat-label>
                    <input name="horaAperturaS" formControlName="horaAperturaS" type="time" matInput />
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Hora Cierre Sábado</mat-label>
                    <input name="horaCierreS" formControlName="horaCierreS" type="time" matInput />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>N° de cajas</mat-label>
                    <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                    <input name="numCajasAtencion" formControlName="numCajasAtencion" matInput required />
                    <mat-error *ngIf="numCajasAtencion.invalid">{{ numCajasAtencionNoValidoMsj() }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Atenciones por hora</mat-label>
                    <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                    <input name="atencionesPorHora" formControlName="atencionesPorHora" matInput required />
                    <mat-error *ngIf="atencionesPorHora.invalid">{{ atencionesPorHoraNoValidoMsj() }}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            Cancelar
        </button>

        <button *ngIf="data.action !== 'editar'" mat-stroked-button color="accent" [disabled]="form.invalid" (click)="crearAgencia()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Agregar
        </button>

        <button *ngIf="data.action === 'editar'" mat-stroked-button color="accent" (click)="editarAgencia()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Aceptar
        </button>
    </div>
</div>