<div id="beneficiarios-emp" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }">
                    groups
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }">
                    Beneficiarios de {{ nombreLugarCobro }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar beneficiario" (keyup)="doFilter($event.target.value)" />
                </div>
            </div>
            <!-- / SEARCH -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table class="table" #table [dataSource]="dataSource" fusePerfectScrollbar matSort [@animateStagger]="{ value: '50' }">
                <ng-container matColumnDef="hora">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Hora</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiarioagencia">
                        <p class="text-truncate">
                            {{ beneficiarioagencia.fechaIni.substring(11) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="flagMayorEdad">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mayor de Edad</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiarioagencia">
                        <p *ngIf="
                                beneficiarioagencia.beneficiario
                                    .flagMayorEdad === 1
                            " class="text-truncate">
                            Si
                        </p>
                        <p *ngIf="
                                beneficiarioagencia.beneficiario
                                    .flagMayorEdad === 0
                            " class="text-truncate">
                            No
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="flagDiscapacitado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Discapacitado</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiarioagencia">
                        <p *ngIf="
                                beneficiarioagencia.beneficiario
                                    .flagDiscapacitado === 1
                            " class="text-truncate">
                            Si
                        </p>
                        <p *ngIf="
                                beneficiarioagencia.beneficiario
                                    .flagDiscapacitado === 0
                            " class="text-truncate">
                            No
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="genero">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sexo</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiarioagencia">
                        <p class="text-truncate">
                            {{ beneficiarioagencia.beneficiario.genero }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="codigoHogar">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código de hogar</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiarioagencia">
                        <p class="text-truncate">
                            {{ beneficiarioagencia.beneficiario.codigoHogar }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="incidencias">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Incidencias</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiarioagencia">
                        <p class="text-truncate">
                            {{ beneficiarioagencia.beneficiario .cantidadIncidencias }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Entregado</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiarioagencia">
                        <mat-slide-toggle color="green" [checked]="beneficiarioagencia.estado === 'Cobrado'" [disabled]="
                                beneficiarioagencia.estado === 'Cobrado'
                            " (change)="updateEntregado(beneficiarioagencia)"></mat-slide-toggle>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef>Marcar entrega</mat-header-cell>
                    <mat-cell *matCellDef="let beneficiarioagencia">
                        <button *ngIf="beneficiarioagencia.estado === 'No cobrado'" style="background-color: white" mat-stroked-button color="accent" (click)="updateEntregado(beneficiarioagencia)" title="Marcar entrega">
                            <mat-icon>playlist_add_check</mat-icon>
                        </button>
                        <p class="text-truncate" *ngIf="beneficiarioagencia.estado === 'Cobrado'">
                            Bono entregado
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnNames; sticky: true"></mat-header-row>

                <mat-header-row *matRowDef="let beneficiarioagencia; columns: columnNames" [ngClass]="{
                        highlight: beneficiarioagencia.estado === 'Cobrado'
                    }">
                </mat-header-row>
            </mat-table>
            <div *ngIf="visible === false" style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(0, 0, 0) transparent;
                    position: fixed;
                    margin-top: 41px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                ">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div *ngIf="dataSource.data.length === 0" class="no-records">
                No hay beneficiarios registrados, ...
            </div>
            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>