<div id="cajero" fxLayout="row">
    <div id="cajero-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="cajero-box" fxLayout="row" [@animate]="{
                value: '*',
                params: { duration: '300ms', y: '100px' }
            }" style="background: white">
            <div id="cajero-form" fxLayout="column">
              <div class="title"><strong>Bono Universal</strong></div>
              <div class="subtitle">Selecciona el banco e ingresa el nombre del cajero</div>
  
              <form name="form" [formGroup]="form" novalidate>
                <!--<div fxLayout="row" fxLayoutAlign="start start">
                  <mat-form-field appearance="outline">
                      <mat-label>Código de beneficiario</mat-label>
                      <input matInput formControlName="codigo"/>
                      <mat-icon matSuffix class="secondary-text">person</mat-icon>
                      <mat-error *ngIf="form.get('codigo').hasError('required')">
                          Código requerido
                      </mat-error>
                      <mat-error *ngIf="
                              !form.get('codigo').hasError('required') &&
                              form.get('codigo').hasError('username')
                          ">
                          Ingrese un código valido
                      </mat-error>
                  </mat-form-field>
                </div>-->

                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                      <mat-label>Banco</mat-label>
                      <mat-select name="banco" matNativeControl formControlName="banco" required 
                          (selectionChange)="onChangeBanco($event.value)" [compareWith]="compareWith">
                          <mat-option *ngFor="let banco of bancos" [value]="banco">
                              {{ banco.nombre }}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>        
                  </div>

                  <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                      <mat-label>Cajero</mat-label>
                        <mat-icon matSuffix class="secondary-text">atm</mat-icon>
                        <input name="agencia" formControlName="agencia" matInput required 
                        [matAutocomplete]="autocompleteTemplateRefId"/>
                      </mat-form-field> 
          
                    <mat-autocomplete #autocompleteTemplateRefId="matAutocomplete"
                                      [displayWith]="onSelectConvertValueToInputFn">
                        <mat-option *ngFor="let agencia of filteredOptions | async" [value]="agencia">
                          {{ agencia.nombre }}
                        </mat-option>
                    </mat-autocomplete>
                  </div>
  
                <!--<div fxLayout="row" fxLayoutAlign="start start">
                  <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Cronograma</mat-label>
                    <mat-select name="cronograma" matNativeControl formControlName="cronograma" [compareWith]="compareWith" required>
                        <mat-option *ngFor="let cronograma of cronogramas" [value]="cronograma">
                            {{ cronograma.nombre }}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>        
                </div>-->
  
                <button (click)="consultar()" mat-raised-button color="warn" class="submit-button" aria-label="LOG IN" [disabled]="form.invalid">
                  Siguiente
                </button>
              </form>
            </div>
            <!--<div id="bg" fxLayout="column" fxFlex="50%">
              lol
            </div>-->
      </div>
    </div>
  </div>