@import "src/@fuse/scss/fuse";
.mat-input-element[readonly] {
  font-style: italic !important;
}

.contrasena-form-dialog {
  @include media-breakpoint('xs') {
      width: 100%;
  }
  @include media-breakpoint('gt-xs') {
      width: 400px;
  }
  .mat-dialog-container {
      padding: 0;
      .mat-toolbar {
          flex: 1 0 auto;
          min-height: initial;
      }
      .toolbar-bottom {
          height: auto;
      }
  }
  .dialog-content-wrapper {
      max-height: 85vh;
      display: flex;
      flex-direction: column;
  }
  .mat-form-field {
      font-size: 0.8em !important; //
  }
  .mat-form-field-label {
      font-size: 1.3em !important; //
  }
  .mat-slide-toggle {
      font-size: 0.9em !important; //
  }
}