<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
          <span class="h3">Cambiar contraseña</span>
          <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar-row>
    </mat-toolbar>
      
      <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
            <form name="form" [formGroup]="form">
    
              <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Contraseña actual</mat-label>
                    <input matInput [type]="hideP1 ? 'password' : 'text'" name="password" formControlName="password" />
                    <button mat-icon-button matSuffix (click)="hideP1 = !hideP1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP1">
                        <mat-icon>{{
                          hideP1 ? "visibility_off" : "visibility"
                        }}</mat-icon>
                    </button>
                    <!--<mat-error> Contraseña requerido </mat-error>-->
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Contraseña nueva</mat-label>
                    <input matInput [type]="hideP2 ? 'password' : 'text'" name="newPassword" formControlName="newPassword" />
                    <button mat-icon-button matSuffix (click)="hideP2 = !hideP2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP2">
                        <mat-icon>{{
                            hideP2 ? "visibility_off" : "visibility"
                        }}</mat-icon>
                    </button>
                    <!--<mat-error> Contraseña requerido </mat-error>-->
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>Repetir nueva contraseña</mat-label>
                  <input matInput [type]="hideP3 ? 'password' : 'text'" name="newPasswordConfirm" formControlName="newPasswordConfirm" />
                  <button mat-icon-button matSuffix (click)="hideP3 = !hideP3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideP3">
                      <mat-icon>{{
                          hideP3 ? "visibility_off" : "visibility"
                      }}</mat-icon>
                  </button>
                  <!--<mat-error *ngIf="noMatch" style="font-size:12px">No coincide con la nueva contraseña</mat-error>-->
                </mat-form-field>
              </div>
            </form>
          </div>

          <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      
            <button mat-stroked-button color="accent" [disabled]="form.invalid" (click)="changePassword()">
                <mat-icon class="mr-8">check_circle</mat-icon>
                Aceptar
            </button>
        </div>
</div>