<div id="distritos" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }">
                    place
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }">
                    Casos Covid por distrito
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar Casos por distrito" (keyup)="doFilter($event.target.value)" />
                </div>
            </div>
            <!-- / SEARCH -->

            <!--  BUTTONS --
            <button mat-raised-button (click)="crear()" class="button_add mt-24 mt-md-0">
                <mat-icon class="mr-8">add_circle_outline</mat-icon>
                <span>Agregar Casos</span>
            </button>
            ---->
            <button mat-raised-button (click)="cargar()" class="button_add mt-24 mt-md-0">
                <mat-icon class="mr-8">cloud_upload</mat-icon>
                <span>Cargar Casos</span>
            </button>

            <!-- / BUTTONS -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table class="table" #table [dataSource]="dataSource" fusePerfectScrollbar matSort [@animateStagger]="{ value: '50' }">
                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
                    <mat-cell *matCellDef="let distrito">
                        <button mat-stroked-button color="accent" (click)="editar(distrito.idDistrito)" title="Editar Distrito">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <!----
                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
                    <mat-cell *matCellDef="let distrito">
                        <button mat-stroked-button color="warn" (click)="eliminar(distrito)" title="Eliminar Distrito">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                --->
                <ng-container matColumnDef="departamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</mat-header-cell>
                    <mat-cell *matCellDef="let distrito">
                        <p class="text-truncate">{{ distrito.departamento }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="provincia">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</mat-header-cell>
                    <mat-cell *matCellDef="let distrito">
                        <p class="text-truncate">{{ distrito.provincia }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Distrito</mat-header-cell>
                    <mat-cell *matCellDef="let distrito">
                        <p class="text-truncate">{{ distrito.nombre }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="porcContagiados">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>%Contagiados</mat-header-cell>
                    <mat-cell *matCellDef="let distrito">
                        <p class="text-truncate">
                            {{ distrito.porcContagiados }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ubigeo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ubigeo</mat-header-cell>
                    <mat-cell *matCellDef="let distrito">
                        <p class="text-truncate">{{ distrito.ubigeo }}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnNames; sticky: true"></mat-header-row>

                <mat-header-row *matRowDef="let distrito; columns: columnNames">
                </mat-header-row>
            </mat-table>
            <div *ngIf="visible === false" style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(0, 0, 0) transparent;
                    position: fixed;
                    margin-top: 41px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                ">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div *ngIf="dataSource.data.length === 0" class="no-records">
                No hay distritos registrados, ...
            </div>

            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>