@import "src/@fuse/scss/fuse";
app-distritos {
    #distritos {
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }
        >.center {
            >.header {
                min-height: 25% !important;
                height: auto !important;
                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);
                    @include media-breakpoint('xs') {
                        width: 100%;
                    }
                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;
                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }
                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
                .button_add {
                    background-color: #4caf50;
                    color: white;
                }
            }
        }
    }
    .table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .mat-header-row {
            min-height: 36px;
        }
        .mat-header-cell {
            font-size: 1.0em;
            min-height: 41px;
            color: rgb(15, 65, 145);
        }
        .mat-cell {
            font-size: 0.9em;
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .mat-table__wrapper .mat-table {
            min-width: auto !important;
            width: 100% !important;
            table-layout: fixed;
        }
        //Columns width
        .mat-column-departamento {
            flex: 0 0 19%;
        }
        .mat-column-provincia {
            flex: 0 0 20%;
        }
        .mat-column-nombre {
            flex: 0 0 20%;
        }
        .mat-column-porcContagiados {
            flex: 0 0 15%;
        }        
        .mat-column-ubigeo {
            flex: 0 0 15%;
        }
        .mat-column-editar {
            flex: 0 0 10%;
        }
        .mat-column-eliminar {
            flex: 0 0 9%;
        }
    }
}