@import "src/@fuse/scss/fuse";
$box-width: 384px;
app-consulta {
    #consulta {
        width: 100%;
        background: url('/assets/images/backgrounds/machu_picchu.jpg') no-repeat;
        background-size: cover;
        #consulta-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;
            @include media-breakpoint('xs') {
                padding: 16px;
            }
            #consulta-box {
                width: $box-width;
                max-width: $box-width;
                @include mat-elevation(16);
                @include media-breakpoint('xs') {
                  width: 100%;
              }
                #consulta-form{
                  padding: 32px;
                  text-align: center;
                  @include media-breakpoint('xs') {
                    padding: 24px;
                  }
                  .logo {
                      width: 128px;
                      margin: 32px auto;
                  }
                  .title {
                      font-size: 30px;
                      margin: 16px 0 32px 0;
                      color: rgb(255, 0, 0);
                  }
                  .subtitle {
                      font-size: 20px;
                      margin: 16px 0 32px 0;
                  }
                  form {
                      width: 100%;
                      text-align: left;
                      mat-form-field {
                          width: 100%;
                      }
                      mat-checkbox {
                          margin: 0;
                      }
                      .submit-button {
                          width: 220px;
                          margin: 16px auto;
                          display: block;
                          @include media-breakpoint('xs') {
                              width: 90%;
                          }
                      }
                  }
                }
                #bg{
                  background: url('https://larazon.pe/wp-content/uploads/2020/06/bono.jpg') center center no-repeat;
                  background-size: cover;       
                }
            }
        }
    }
}