@import "src/@fuse/scss/fuse";
app-login {
    #login {
        width: 100%;
        background: url('/assets/images/backgrounds/machu_picchu.jpg') no-repeat;
        background-size: cover;
        #login-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;
            @include media-breakpoint('xs') {
                padding: 16px;
            }
            #login-form {
                width: 384px;
                max-width: 384px;
                padding: 32px;
                text-align: center;
                @include mat-elevation(16);
                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }
                .logo {
                    width: 128px;
                    margin: 32px auto;
                }
                .title {
                    font-size: 40px;
                    margin: 16px 0 32px 0;
                    color: rgb(255, 0, 0);
                }
                .subtitle {
                    font-size: 30px;
                    margin: 16px 0 32px 0;
                }
                form {
                    width: 100%;
                    text-align: left;
                    mat-form-field {
                        width: 100%;
                    }
                    mat-checkbox {
                        margin: 0;
                    }
                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;
                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}