<div id="login" fxLayout="column">
    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="login-form" [@animate]="{
                value: '*',
                params: { duration: '300ms', y: '100px' }
            }" style="background: white">
            <div class="title"><strong>Bono universal</strong></div>

            <div class="subtitle">Inicio de sesión</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="username" />
                    <mat-icon matSuffix class="secondary-text">person</mat-icon>
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Usuario requerido
                    </mat-error>
                    <mat-error *ngIf="
                            !loginForm.get('username').hasError('required') &&
                            loginForm.get('username').hasError('username')
                        ">
                        Ingrese un usuario valido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="contraseña" formControlName="password" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{
                            hide ? "visibility_off" : "visibility"
                        }}</mat-icon>
                    </button>
                    <mat-error> Contraseña requerido </mat-error>
                </mat-form-field>

                <button (click)="login()" mat-raised-button color="warn" class="submit-button" aria-label="LOG IN" [disabled]="loginForm.invalid">
                    Ingresar
                </button>
            </form>
        </div>
    </div>
</div>