<div id="agencias" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }">
                    account_balance
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }">
                    Agencias {{ this.nombreBanco }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar agencia" (keyup)="doFilter($event.target.value)" />
                </div>
            </div>
            <!-- / SEARCH -->

            <!--  BUTTONS -->
            <button mat-raised-button (click)="crear()" class="button_add mt-24 mt-md-0">
                <mat-icon class="mr-8">add_circle_outline</mat-icon>
                <span>Agregar Agencia</span>
            </button>

            <button mat-raised-button (click)="cargar()" class="button_add mt-24 mt-md-0">
                <mat-icon class="mr-8">cloud_upload</mat-icon>
                <span>Cargar Agencias</span>
            </button>

            <!-- / BUTTONS -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table class="table" #table [dataSource]="dataSource" fusePerfectScrollbar matSort [@animateStagger]="{ value: '50' }">
                <ng-container matColumnDef="codigo" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">{{ agencia.codigo }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">{{ agencia.nombre }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="departamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</mat-header-cell>
                    <mat-cell *matCellDef="let agencia">
                        <p class="text-truncate">
                            {{ agencia.distrito.departamento }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="provincia" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">
                            {{ agencia.distrito.provincia }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="distrito" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Distrito</mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">
                            {{ agencia.distrito.nombre }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!----
                <ng-container matColumnDef="direccion" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">{{ agencia.direccion }}</p>
                    </mat-cell>
                </ng-container>
            -->
                <ng-container matColumnDef="horario_lunes-viernes" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Horario L-V
                    </mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">
                            {{ agencia.horaAperturaLV.substring(0, 5) + "-" + agencia.horaCierreLV.substring(0, 5) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="horario_sabado" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Horario Sábado</mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">
                            {{ (agencia.horaAperturaS === null ? agencia.horaAperturaS : agencia.horaAperturaS.substring(0, 5)) + "-" + (agencia.horaCierreS === null ? agencia.horaCierreS : agencia.horaCierreS.substring(0, 5)) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ncajas" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>N° de cajas</mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">
                            {{ agencia.numCajasAtencion }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="atencionesHora" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Atenciones por hora</mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">
                            {{ agencia.atencionesPorHora }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cantIncidencias" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>N° Incidencias</mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">
                            {{ agencia.cantIncidencias }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let agencia" class="mat-cell">
                        <p class="text-truncate">{{ agencia.estado }}</p>
                    </mat-cell>
                </ng-container>

                <!--<ng-container matColumnDef="empleados">
                    <mat-header-cell *matHeaderCellDef>Empleados</mat-header-cell>
                    <mat-cell *matCellDef="let agencia">
                        <button mat-stroked-button color="primary" (click)="verEmpleados(agencia.idLugarCobro)" title="Ver empleados">
                            <mat-icon>people</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <!-->

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
                    <mat-cell *matCellDef="let agencia">
                        <button mat-stroked-button color="accent" (click)="editar(agencia.idLugarCobro)" title="Editar Agencia">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
                    <mat-cell *matCellDef="let agencia">
                        <button mat-stroked-button color="warn" (click)="eliminar(agencia)" title="Eliminar Agencia">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnNames; sticky: true"></mat-header-row>

                <mat-header-row *matRowDef="let agencia; columns: columnNames">
                </mat-header-row>
            </mat-table>
            <div *ngIf="visible === false" style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgb(0, 0, 0) transparent;
                    position: fixed;
                    margin-top: 41px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                ">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div *ngIf="dataSource.data.length === 0" class="no-records">
                No hay agencias registradas ...
            </div>

            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>