<div id="reportes" class="page-layout carded fullwidth">
    <!-- HEADER -->
    <div class="header p-16 p-sm-24">
        <div class="header-content" fxLayout="column" fxLayoutAlign="space-between">
            <div class="header-top" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
                <div class="logo mb-16 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon" [@animate]="{
                            value: '*',
                            params: { delay: '50ms', scale: '0.2' }
                        }">
                        bar_chart
                    </mat-icon>
                    <span class="logo-text" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                        Reportes
                    </span>
                </div>

                <!-- TOOLBAR -->
                <div class="toolbar" fxFlex="25%" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
                    <mat-form-field appearance="outline" fxFlex color="primary" defaultColor="primary">
                        <mat-label>Cronograma</mat-label>
                        <mat-select name="cronograma" matNativeControl (selectionChange)="onChangeCronograma($event.value)">
                            <mat-option *ngFor="let cronograma of cronogramas" [value]="cronograma.idConfiguracion">
                                {{ cronograma.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- / TOOLBAR -->
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content centrado" *ngIf="initialized === false">
        <h1>Seleccione un cronograma</h1>
    </div>
    <div *ngIf="loading === true" class="centrado">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <div class="content" *ngIf="initialized === true && loading === false">
        <div fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-bottom: 10px !important">
            <!-- BONOS RECOGIDOS -->
            <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" fxLayout="row" fxFlex="45" class="widget widget5">
                <div class="fuse-widget-front">
                    <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex class="py-16 h3">
                            Bonos recogidos & no recogidos
                        </div>
                    </div>

                    <div fxLayout="row wrap" fxLayoutAlign="start start">
                        <div class="h-280 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                            <ngx-charts-bar-vertical-stacked *fuseIfOnDom [scheme]="estiloRecogidos.scheme" [results]="reporteRecogidos" [gradient]="reporteRecogidos.gradient" [xAxis]="estiloRecogidos.xAxis" [yAxis]="estiloRecogidos.yAxis" [legend]="estiloRecogidos.legend" [showXAxisLabel]="
                                    estiloRecogidos.showXAxisLabel
                                " [showYAxisLabel]="
                                    estiloRecogidos.showYAxisLabel
                                " [xAxisLabel]="estiloRecogidos.xAxisLabel" [yAxisLabel]="estiloRecogidos.yAxisLabel" (select)="estiloRecogidos.onSelect($event)">
                            </ngx-charts-bar-vertical-stacked>
                        </div>
                    </div>
                </div>
            </fuse-widget>
            <!-- AGENCIAS POR DEPARTAMENTO -->
            <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" fxLayout="row" fxFlex="25" fxFlex.gt-sm="25">
                <div class="fuse-widget-front">
                    <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="h3">
                            Cantidad de agencias por departamento
                        </div>
                    </div>

                    <div class="h-280">
                        <ngx-charts-pie-chart *fuseIfOnDom [scheme]="estiloAgenciaDepartamento.scheme" [results]="reporteAgenciaDepartamento" [legend]="estiloAgenciaDepartamento.showLegend" [explodeSlices]="
                                estiloAgenciaDepartamento.explodeSlices
                            " [labels]="estiloAgenciaDepartamento.labels" [doughnut]="estiloAgenciaDepartamento.doughnut" [gradient]="estiloAgenciaDepartamento.gradient" (select)="
                                estiloAgenciaDepartamento.onSelect($event)
                            ">
                        </ngx-charts-pie-chart>
                    </div>

                    <div class="py-8 mh-16 border-top" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                            <span class="mat-display-1 mb-0">
                                {{ totalAgencias }}
                            </span>
                            <span class="h4">Total de agencias</span>
                        </div>

                        <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
                            <span class="mat-display-1 mb-0">
                                {{ agenciasActivas }}
                            </span>
                            <span class="h4">Agencias activas</span>
                        </div>
                    </div>
                </div>
            </fuse-widget>
            <!-- AGENCIAS INFRACTORAS -->
            <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" fxLayout="row" fxFlex="30" class="widget widget5">
                <div class="fuse-widget-front">
                    <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="h3">
                            Cantidad de infracciones por agencia
                        </div>
                    </div>

                    <div class="h-280">
                        <div class="content centrado" *ngIf="reporteAgenciasInfractoras.length === 0">
                            <h1>No se han registrado incidencias</h1>
                        </div>
                        <ngx-charts-pie-chart *fuseIfOnDom [scheme]="estiloAgenciasInfractoras" [results]="reporteAgenciasInfractoras" [doughnut]="true">
                        </ngx-charts-pie-chart>
                    </div>

                    <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                        <div class="px-16" fxLayout="column" fxLayoutAlign="start center" *ngFor="let device of reporteAgenciasInfractoras">
                            <div class="h4 secondary-text">
                                {{ device.name }}
                            </div>
                            <div class="h2 font-weight-300 py-8">
                                {{ device.value }}
                            </div>
                        </div>
                    </div>
                </div>
            </fuse-widget>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="16px grid" style="padding-top: 10px !important">
            <!-- DEPARTAMENTOS INFRACTORES -->
            <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" fxLayout="row" fxFlex="50" class="widget widget5">
                <div class="fuse-widget-front">
                    <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex class="py-16 h3">
                            Departamentos con mayor tasa de infracción
                        </div>
                    </div>

                    <div fxLayout="row wrap" fxLayoutAlign="start start">
                        <div class="h-300 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                            <ngx-charts-bar-vertical-stacked *fuseIfOnDom [scheme]="estiloDepartamentosInfractores.scheme" [results]="this.reporteDepartamentosInfractores" [gradient]="
                                    estiloDepartamentosInfractores.gradient
                                " [xAxis]="estiloDepartamentosInfractores.xAxis" [yAxis]="estiloDepartamentosInfractores.yAxis" [legend]="estiloDepartamentosInfractores.legend" [showXAxisLabel]="
                                    estiloDepartamentosInfractores.showXAxisLabel
                                " [showYAxisLabel]="
                                    estiloDepartamentosInfractores.showYAxisLabel
                                " [xAxisLabel]="
                                    estiloDepartamentosInfractores.xAxisLabel
                                " [yAxisLabel]="
                                    estiloDepartamentosInfractores.yAxisLabel
                                " (select)="
                                    estiloDepartamentosInfractores.onSelect(
                                        $event
                                    )
                                ">
                            </ngx-charts-bar-vertical-stacked>
                        </div>
                    </div>
                </div>
            </fuse-widget>

            <!-- DEPARTAMENTOS CAPACIDAD DE ATENCION -->
            <fuse-widget [@animate]="{ value: '*', params: { y: '100%' } }" fxLayout="row" fxFlex="50" class="widget widget5">
                <div class="fuse-widget-front">
                    <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex class="py-16 h3">
                            Departamentos con mayor tasa de atención
                        </div>
                    </div>

                    <div class="position-relative h-332 pb-16 blue-600">
                        <canvas baseChart [datasets]="reporteAtencionDepartamento" [labels]="reporteLabelAtencion" [colors]="estiloAtencionDepartamento.colors" [options]="estiloAtencionDepartamento.options" [chartType]="estiloAtencionDepartamento.chartType">
                        </canvas>
                    </div>
                </div>
            </fuse-widget>
        </div>
    </div>
</div>