@import "src/@fuse/scss/fuse";
#reportes {
    .header {
        height: 110px;
        min-height: 110px;
        max-height: 110px;
        position: relative;
        background-size: 100% auto;
        background-position: 0 50%;
        background-repeat: no-repeat;
        background-color: #FAFAFA;
        color: #FFFFFF;
        @include media-breakpoint(xs) {
            height: 164px;
            min-height: 164px;
            max-height: 164px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.45);
        }
        background-image: url('/assets/images/backgrounds/estadistica5.jpg');
        background-position: 0 85%;
        .header-content {
            height: 100%;
            .header-top {
                position: relative;
                z-index: 2;
                .logo {
                    .logo-icon {
                        margin-right: 16px;
                    }
                    .logo-text {
                        font-size: 24px;
                    }
                }
            }
            .header-bottom {
                position: relative;
                z-index: 2;
                .title {
                    font-size: 20px;
                    min-width: 160px;
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
        .add-event-button {
            position: absolute;
            right: 18px;
            bottom: -26px;
            z-index: 10;
        }
    }
    .content {
        padding: 24px;
        .widget {
            &.widget5 {
                .gridline-path.gridline-path-horizontal {
                    display: none;
                }
            }
        }
        .main-widget {
            display: flex;
            flex-direction: column;
        }
    }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: rgb(255, 255, 255);
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(0, 0, 0) transparent;
    position: fixed;
    margin-top: 41px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}