<div id="lobby" fxLayout="column">
  <div id="lobby-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="lobby-form" [@animate]="{
              value: '*',
              params: { duration: '300ms', y: '100px' }
          }">
          <div class="title"><strong>Bono universal</strong></div>

          <div id="lobby-buttons" mat-dialog-actions class="m-0 p-16" >
            <button mat-raised-button color="accent" (click)="login()"
            style="background-color: #4caf50; color: white">
              <mat-icon class="mr-8">input</mat-icon>
              <span>Ir al login</span>
            </button>
    
            <button mat-raised-button color="accent" (click)="consultar()">
                <mat-icon class="mr-8">event</mat-icon>
                <span>Consultar horarios</span>
            </button>

            <button mat-raised-button color="accent" (click)="cajero()"
            style="background-color: #bd5d04; color: white">
                <mat-icon class="mr-8">local_convinience_store</mat-icon>
                <span>Iniciar Cajero</span>
            </button>
            <!--
            <mat-card class="mat-elevation-z5" style="background-color: #4caf50; color: white">
              <mat-card-header>
                  <mat-card-title>Consultar horario</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-icon class="mr-4">today</mat-icon>
              </mat-card-content>
              <mat-card-actions style="text-align: center">
                  
              </mat-card-actions>
          </mat-card>
          -->
          </div>
      </div>
  </div>
</div>


