@import "src/@fuse/scss/fuse";
app-lobby {
    #lobby {
        width: 100%;
        background: url('/assets/images/backgrounds/machu_picchu.jpg') no-repeat;
        background-size: cover;
        #lobby-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;
            @include media-breakpoint('xs') {
                padding: 16px;
            }
            #lobby-form {
                width: 750px;
                max-width: 750px;
                padding: 32px;
                text-align: center;
                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }
                .logo {
                    width: 128px;
                    margin: 32px auto;
                }
                .title {
                    font-size: 40px;
                    margin: 16px 0 32px 0;
                    color: rgb(255, 0, 0);
                }
                .subtitle {
                    font-size: 30px;
                    margin: 16px 0 32px 0;
                }
                .lobby-buttons{
                  display:flex;
                  @include media-breakpoint('xs') {
                    display:block;
                  }
                }
                button{
                  margin:20px;
                  padding:12px;
                  width:200px;
                }
            }
        }
    }
}