@import "src/@fuse/scss/fuse";
@import "node_modules/angular-calendar/scss/angular-calendar";

$logout-height:56px;
app-horario{
  #benef-horario{
    .benef-logout{
      background:#2D323E;
      color:white;
      height:$logout-height;
      z-index:100;
      padding:0 32px;
      div{
        cursor:pointer;
      }
    }
    .top-bg {
      height:200px + $logout-height;
      @include media-breakpoint('lt-md') {
          height: 256px + $logout-height;
      }
    }
      .header {
        height: 110px;
        min-height: 110px;
        max-height: 110px;
        position: relative;
        background-size: 100% auto;
        background-position: 0 50%;
        background-repeat: no-repeat;
        background-color: #FAFAFA;
        color: #FFFFFF;
        @include media-breakpoint(xs) {
            height: 164px;
            min-height: 164px;
            max-height: 164px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.45);
        }
        background-image: url('/assets/images/backgrounds/calendar.jpeg');
        background-position: 0 85%;
        .header-content {
            height: 100%;
            .header-top {
                position: relative;
                z-index: 2;
                .logo {
                    .logo-icon {
                        margin-right: 16px;
                    }
                    .logo-text {
                        font-size: 24px;
                    }
                }
            }
            .header-bottom {
                position: relative;
                z-index: 2;
                .title {
                    font-size: 20px;
                    min-width: 160px;
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
        .add-event-button {
            position: absolute;
            right: 18px;
            bottom: -26px;
            z-index: 10;
        }
      }
    }
    .content {
      padding: 24px;
    }
}

.flex-row {
  min-width:250px;
}

.box {
  mat-icon{
    font-size:20px;
    color: #4caf50;
  }
}
