<div id="benef-horario" class="page-layout simple fullwidth">
  <!-- logout (?)-->
  <div class="benef-logout" fxLayout="row" fxLayoutAlign="end center">
    <div fxLayout="row" fxLayoutAlign="start center" (click)="logoutBenef()">
      <mat-icon class="logo-icon mr-8">exit_to_app</mat-icon>
      <span>Salir</span>
    </div>
  </div>

      <!-- HEADER -->
        <div class="header p-16 p-sm-24 dec">
          <div class="header-content" fxLayout="column" fxLayoutAlign="space-between">
              <div class="header-top" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
                  <div class="logo mb-16 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="logo-icon" [@animate]="{
                              value: '*',
                              params: { delay: '50ms', scale: '0.2' }
                          }">
                          event
                      </mat-icon>
                      <span class="logo-text" [@animate]="{
                              value: '*',
                              params: { delay: '100ms', x: '-25px' }
                          }">
                          {{ "Horarios - Beneficiario #" + codigo }} 
                      </span>
                  </div>
              </div>
            </div>
        </div>
      <!-- / HEADER -->

      <!-- CONTENT -->
      <div class="content">
        <h1 *ngIf="!codigo || cronogramas.length === 0">No hay horarios generados</h1>
        <p >La opción para registrar quejas solo estará visible en cronogramas activos</p>
        <div *ngFor="let cronograma of cronogramas">
          <h2>
            <span>{{ cronograma[1][0].configuracionCronograma.nombre }}</span>
          <!--<span style="font-style: italic;"> ({{ cronograma[1][0].configuracionCronograma.estado }})</span>-->
          </h2> 
              <div *ngFor="let horario of cronograma[1]; let i = index" [attr.data-index]="i">
                <mat-card fxLayout="row wrap" fxLayoutGap="grid" style="margin:10px 0px">
                  <mat-card-header fxFlex="33%" fxFlex.xs="100%" fxLayoutAlign="center center">
                      <mat-card-title class="text-center">Turno #{{ i+1}}</mat-card-title>
                      <mat-card-subtitle>{{ horario.lugarCobro.nombre }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content fxFlex="33%" fxFlex.xs="100%" fxLayoutAlign="center center" class="mb-0">
                      <div class="flex-row">
                          <div class="box" fxLayout="row" fxLayoutAlign="left center" fxLayoutAlign.xs="center center">
                              <!--<mat-icon class="mr-8">event</mat-icon>-->
                              <span>Fecha: {{ horario.fechaIni.split(" ")[0] }}</span>
                          </div>
                          <div class="box" fxLayout="row" fxLayoutAlign="left center" fxLayoutAlign.xs="center center">
                            <!--<mat-icon class="mr-8">access_time</mat-icon>-->
                              <span
                                  >Hora: {{ horario.fechaIni.split(" ")[1]+ "-" + horario.fechaFin.split(" ")[1] }}</span
                              >
                          </div>
                          <div class="box" fxLayout="row" fxLayoutAlign="left center" fxLayoutAlign.xs="center center">
                            <!--<mat-icon class="mr-8">error_outline</mat-icon>-->
                            <span
                                >Estado: {{ horario.estado }}</span
                            >
                          </div>
                          <div class="box" fxLayout="row" fxLayoutAlign="left center" fxLayoutAlign.xs="center center">
                            <!--<mat-icon class="mr-8">room</mat-icon>-->
                            <span
                                >Dirección: {{ horario.lugarCobro.direccion }}</span
                            >
                          </div>
                      </div>
                  </mat-card-content>
                  <mat-card-actions fxFlex="33%" fxFlex.xs="100%" fxLayoutAlign="center center" class="mb-0">
                    <button
                        *ngIf="horario.configuracionCronograma.estado === 'Activo'"
                        mat-raised-button
                        (click)="registrarQueja(horario)"
                        style="background-color: #4caf50; color: white; min-width:200px"
                    >
                        Registrar queja
                            </button>
                
                </mat-card-actions>
              </mat-card>
            </div>
      </div>
</div>