<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">Beneficiarios</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <div fxLayout="row" fxLayoutAlign="start start" style="padding-bottom: 10px">
            <mat-label>Resumen</mat-label>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field floatLabel="always" appearance="outline" fxFlex="45%">
                <mat-label>Número de hombres</mat-label>
                <mat-icon matSuffix class="secondary-text">people</mat-icon>
                <input name="idEntidadBancaria" matInput readonly [value]="this.hombres" />
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" fxFlex="45%">
                <mat-label>Número de mujeres</mat-label>
                <mat-icon matSuffix class="secondary-text">people</mat-icon>
                <input name="idEntidadBancaria" matInput readonly [value]="this.mujeres" />
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field floatLabel="always" appearance="outline" fxFlex="45%">
                <mat-label>Número de discapacitados</mat-label>
                <mat-icon matSuffix class="secondary-text">accessible</mat-icon>
                <input name="idEntidadBancaria" matInput readonly [value]="this.discapacitados" />
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline" fxFlex="45%">
                <mat-label>Número de infractores</mat-label>
                <mat-icon matSuffix class="secondary-text">report_problem</mat-icon>
                <input name="idEntidadBancaria" matInput readonly [value]="this.infractores" />
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start start" style="padding-bottom: 10px">
            <mat-label>Códigos de beneficiarios</mat-label>
        </div>

        <mat-grid-list cols="4" rowHeight="18">
            <mat-grid-tile *ngFor="let beneficiario of beneficiarios" [colspan]="1" [rowspan]="3">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="90%">
                    <input name="idEntidadBancaria" matInput readonly [value]="beneficiario.codigoHogar" />
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            Cerrar
        </button>
    </div>
</div>