<div id="cobro" fxLayout="row">
    <div id="cobro-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="cobro-box" fxLayout="row" [@animate]="{
                value: '*',
                params: { duration: '300ms', y: '100px' }
            }" style="background: white">
            <div id="cobro-form" fxLayout="column">
                <div class="title">
                    <strong>Cajero {{ cajeronombre }}</strong>
                </div>
                <div class="subtitle">Ingrese su código de beneficiario</div>

                <form name="form" [formGroup]="form" novalidate>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Código de beneficiario</mat-label>
                            <input type="number" matInput formControlName="codigo" />
                            <mat-icon matSuffix class="secondary-text">person</mat-icon>
                            <mat-error *ngIf="form.get('codigo').hasError('required')">
                                Código requerido
                            </mat-error>
                            <mat-error *ngIf="
                                    !form.get('codigo').hasError('required') &&
                                    form.get('codigo').hasError('username')
                                ">
                                Ingrese un código valido
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!--<div fxLayout="row" fxLayoutAlign="start start">
                  <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Cronograma</mat-label>
                    <mat-select name="cronograma" matNativeControl formControlName="cronograma" [compareWith]="compareWith" required>
                        <mat-option *ngFor="let cronograma of cronogramas" [value]="cronograma">
                            {{ cronograma.nombre }}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>        
                </div>-->

                    <button (click)="cobrar()" mat-raised-button color="warn" class="submit-button" aria-label="LOG IN" [disabled]="form.invalid">
                        Cobrar
                    </button>
                </form>
            </div>
            <!--<div id="bg" fxLayout="column" fxFlex="50%">
              lol
            </div>-->
        </div>
    </div>
</div>