<div id="calendar" class="page-layout simple fullwidth">
    <!-- HEADER -->

    <div class="header p-16 p-sm-24" [ngClass]="viewDate | date: 'MMM'">
        <div class="header-content" fxLayout="column" fxLayoutAlign="space-between">
            <div class="header-top" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
                <div class="logo mb-16 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon" [@animate]="{
                            value: '*',
                            params: { delay: '50ms', scale: '0.2' }
                        }">
                        today
                    </mat-icon>
                    <span class="logo-text" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                        Cronograma
                    </span>
                </div>

                <!-- TOOLBAR -->
                <div class="toolbar" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
                    <button mat-raised-button (click)="crear()" class="button_add mt-24 mt-md-0 mr-8" style="background-color: #4caf50; color: white">
                        <mat-icon class="mr-8">add_circle_outline</mat-icon>
                        <span>Generar cronograma</span>
                    </button>
                    <button color="accent" mat-raised-button (click)="actualizarConfiguracion()" class="button_add mt-24 mt-md-0 mr-8">
                        <mat-icon class="mr-8">settings</mat-icon>
                        <span>Actualizar configuración</span>
                    </button>
                </div>
            </div>
            <!-- / TOOLBAR -->
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <h1 *ngIf="cronogramas.length === 0">No hay cronogramas generados</h1>
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let cronograma of cronogramas">
                <mat-card class="mat-elevation-z5">
                    <mat-card-header>
                        <mat-card-title>{{ cronograma.nombre }}</mat-card-title>
                        <mat-card-subtitle>Inicio: {{ cronograma.fechaInicio }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="flex-row">
                            <div class="box">
                                <span>{{
                                        cronograma.cantBeneficiarios
                                    }}
                                    beneficiarios</span
                                >
                            </div>
                            <div class="box">
                                <span
                                    >{{ cronograma.cantLugares }} agencias</span
                                >
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="box">
                                <span
                                    >{{ cronograma.cantDias }} días de
                                    duración</span
                                >
                            </div>
                            <div class="box">
                                <span
                                    >{{ cronograma.cantTurnos }} turnos
                                    generados</span
                                >
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions style="text-align: center">
                        <button
                            mat-raised-button
                            (click)="verCalendario(cronograma.idConfiguracion)"
                            class="mt-24 mt-md-0"
                            style="background-color: #4caf50; color: white"
                        >
                            <mat-icon class="mr-4">today</mat-icon
                            ><span>Ver calendario</span>
                                </button>
                                <button mat-raised-button (click)="
                                verConfiguracion(cronograma.idConfiguracion)
                            " class="mt-24 mt-md-0" color="accent">
                            <mat-icon class="mr-4">settings</mat-icon>
                            <span>Ver configuración</span>
                        </button>
                                </mat-card-actions>
                </mat-card>
                </div>
                </div>
            </div>
            <!-- / CONTENT -->
        </div>