<mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <h6 fxLayout="row" fxLayoutAlign="start center">
            <p style="font-size:12px;line-height: 150%;">Desarrollado por Los Tripulantes <br />Contacto: italonm147@gmail.com
            </p>
        </h6>

        <div fxLayout=" row " fxLayoutAlign="start center " fxHide fxShow.gt-xs>
            <a style="font-size:17px;color:white;" href="https://www.pucp.edu.pe/">PUCP, Ingeniería Informática</a>
        </div>
    </div>
</mat-toolbar>