// Import Fuse core library
@import "@fuse/scss/core";
// Import app.theme.scss
@import "app/app.theme";
.blue-snackbar {
    background: #2196F3;
}

.red-snackbar {
    background-color: #FF4B45 !important;
    border-color: #F44336;
    white-space: pre-wrap!important;
    color: white !important;
}