<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">Configuración actual</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="form">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Fecha de inicio</mat-label>
                    <input name="fechaInicio" formControlName="fechaInicio" matInput required type="date" />
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-select placeholder="Hora preferencial" formControlName="horarioPreferencial" multiple>
                        <mat-option *ngFor="let hora of horas" [value]="hora">
                            <p *ngIf="hora >= 12">{{ hora }} p.m.</p>
                            <p *ngIf="12 > hora">{{ hora }} a.m.</p>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Porcentaje de varones %</mat-label>
                    <mat-icon matSuffix class="secondary-text">people</mat-icon>
                    <input name="porcentajeVarones" formControlName="porcentajeVarones" matInput required />
                    <mat-error *ngIf="porcentajeVarones">Número menor a 100% con 2 decimales</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Número de horarios por beneficiario</mat-label>
                    <mat-icon matSuffix class="secondary-text">today</mat-icon>
                    <input name="horariosPorBeneficiario" formControlName="horariosPorBeneficiario" matInput required type="number" />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Máximo de incidencias por beneficiario</mat-label>
                    <mat-icon matSuffix class="secondary-text">report_problem</mat-icon>
                    <input name="numMaxIncBeneficiario" formControlName="numMaxIncBeneficiario" matInput required type="number" />
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Horarios penalizados por incidencias</mat-label>
                    <mat-icon matSuffix class="secondary-text">sync_problem</mat-icon>
                    <input name="cantHorariosPenalizados" formControlName="cantHorariosPenalizados" matInput required type="number" />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Máximo de incidencias por agencia</mat-label>
                    <mat-icon matSuffix class="secondary-text">report_problem</mat-icon>
                    <input name="numMaxIncLugarCobro" formControlName="numMaxIncLugarCobro" matInput required type="number" />
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Porcentaje de reducción por incidencias %</mat-label>
                    <mat-icon matSuffix class="secondary-text">sync_problem</mat-icon>
                    <input name="reducPorcVacantes" formControlName="reducPorcVacantes" matInput required />
                    <mat-error *ngIf="reducPorcVacantes">Número menor a 100% con 2 decimales</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Porcentaje máximo de contagio %</mat-label>
                    <mat-icon matSuffix class="secondary-text">report_problem</mat-icon>
                    <input name="porcMaxContagio" formControlName="porcMaxContagio" matInput required />
                    <mat-error *ngIf="porcMaxContagio">Número menor a 100% con 2 decimales</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="48%">
                    <mat-label>Porcentaje de vacantes penalizadas %</mat-label>
                    <mat-icon matSuffix class="secondary-text">sync_problem</mat-icon>
                    <input name="porcVacantesPenalizado" formControlName="porcVacantesPenalizado" matInput required />
                    <mat-error *ngIf="porcVacantesPenalizado">Número menor a 100% con 2 decimales</mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            Cancelar
        </button>

        <button mat-stroked-button color="accent" [disabled]="form.invalid" (click)="actualizarConfiguracion()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Guardar
        </button>
    </div>
</div>