<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{ dialogTitle }}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="form">
            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>ID</mat-label>
                    <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                    <input name="idEntidadBancaria" formControlName="idEntidadBancaria" matInput required readonly />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>RUC</mat-label>
                    <mat-icon matSuffix class="secondary-text">business</mat-icon>
                    <input name="ruc" formControlName="ruc" matInput required />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Razón social</mat-label>
                    <mat-icon matSuffix class="secondary-text">business_center</mat-icon>
                    <input name="nombre" formControlName="nombre" matInput required />
                </mat-form-field>
            </div>

            <div *ngIf="data.action === 'editar'" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Estado</mat-label>
                    <mat-select name="estado" matNativeControl formControlName="estado" required>
                        <mat-option *ngFor="let estado of estados" [value]="estado.value">
                            {{ estado.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            Cancelar
        </button>

        <button *ngIf="data.action !== 'editar'" mat-stroked-button color="accent" [disabled]="form.invalid" (click)="crearBanco()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Agregar
        </button>

        <button *ngIf="data.action === 'editar'" mat-stroked-button color="accent" [disabled]="form.invalid" (click)="editarBanco()">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Aceptar
        </button>
    </div>
</div>